<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Split It API</title>

		<style>
			body {
				margin: 0;
			}

			.container {
				height: 100vh;
				padding: 0 40px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
			}

			.container a {
				padding: 10px 25px;
				background-color: #6200ee;
				text-transform: uppercase;
				color: #fff;
				text-decoration: none;
				border-radius: 4px;
				margin-top: 16px;
			}

			.container a:hover {
				background-color: #6f28ef;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<p>Hey, there is nothing to see here.</p>
			<p>But since you are here already I think you may be interested in the API docs.</p>
			<a href="/docs">Yay!</a>
		</div>
	</body>
</html>
